* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.tools-container {
    height: 100px;
    /* background: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-content {
    height: 70%;
    width: 70%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: aliceblue;
    border-radius: 10px;
}

.tool {
    height: 55%;
    width: 10%;
}

.tool img {
    height: 100%;
    width: 100%;
}

.drawing-container {
}

#canvas {
    /* background-color: aqua; */
}
