*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header{

}

.tickets-filter{

}

.filter{

}
.red{

}
.blue{

}
.green{

}
.yellow{

}
.black{

}

.ticket-actions{

}
.ticket-actions div{

}
.ticket-actions i{

}

.tickets-container{
    
}