* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 0.8rem;
}

.menu-options {
    height: 50px;
    display: flex;
    align-items: center;
}

.menu-options>div {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid lightgray;
    height: 75%;
}

.menu-options-1>div {
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.menu-options-1>div:hover , .menu-options-2>div:hover{
    background-color: lightgray;
}

.menu-options-2>div {
    height: 65%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.menu-options-3>div {
}

.menu-options-4>div {
}

.formula-tab {
    height: 30px;
    background: aquamarine;
}

.cells {
    /* background: bisque; */
    height: calc(100vh - 110px);
    overflow: auto;
    position: relative;
}

.sheets {
    background: aliceblue;
    height: 30px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    /* border: 1px solid; */
}

.cell {
    border: 1px solid;
    min-width: 70px;
    min-height: 25px;
    outline: none;
    max-width: 70px;
}

.top-left-cell {
    height: 25px;
    background: lightgray;
    width: 30px;
    position: absolute;
    z-index: 3;
}

.top-row {
    display: flex;
    top: 0px;
    position: absolute;
    left: 30px;
    z-index: 2;
    background: white;
}

.top-row-cell {
    min-width: 70px;
    border: 1px solid;
    /* text-align: center; */
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col {
    position: absolute;
    top: 25px;
    z-index: 2;
    background: white;
}

.left-col-cell {
    border: 1px solid;
    width: 30px;
    text-align: center;
    height: 25px;
}

.all-cells {
    position: absolute;
    top: 25px;
    left: 30px;
}

.add-sheet {
    margin-left: 10px;
    margin-right: 10px;
}

.sheets-list {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid;
}

.sheet {
    /* border: 1px solid; */
    height: 100%;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid;
    cursor: pointer;
}

.active-sheet {
    background: white;
}

.active-menu{
    background-color: lightgray;
}
